# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build and Test (CI)

on: [push]

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
      - name: Step 1 - checkout branch
        uses: actions/checkout@v2

      - name: Step 2 - shutdown default MySQL server
        run: sudo service mysql stop

      - name: Step 3 - create new MySQL server and database
        uses: mirromutth/mysql-action@v1.1
        with:
          host port: 3306 # Optional, default value is 3306. The port of host
          container port: 3306 # Optional, default value is 3306. The port of container
          character set server: 'utf8mb4' # Optional, default value is 'utf8mb4'. The '--character-set-server' option for mysqld
          collation server: 'utf8mb4_0900_as_cs' # Optional, default value is 'utf8mb4_general_ci'. The '--collation-server' option for mysqld
          mysql version: '8' # Optional, default value is "latest". The version of the MySQL
          mysql database: 'mindblank_db' # Optional, default value is "test". The specified database which will be create
          mysql user: 'root' # Required if "mysql root password" is empty, default is empty. The superuser for the specified database. Can use secrets, too
          mysql password: 'password123' # Required if "mysql user" exists. The password for the "mysql user"

      - name: Step 4 - create required table and data in database
        run: >-
          mysql -u root -p mindblank_db -e "CREATE TABLE `USER` (
          `NRIC` varchar(9) COLLATE utf8mb4_0900_as_cs NOT NULL,
          `pass` varchar(45) COLLATE utf8mb4_0900_as_cs NOT NULL,
          `name` varchar(25) COLLATE utf8mb4_0900_as_cs NOT NULL,
          `email` varchar(45) COLLATE utf8mb4_0900_as_cs NOT NULL,
          `phoneNum` varchar(45) COLLATE utf8mb4_0900_as_cs NOT NULL,
          `address` varchar(45) COLLATE utf8mb4_0900_as_cs NOT NULL,
          `type` enum('PATIENT','DOCTOR','PHARMACIST','ADMIN') COLLATE utf8mb4_0900_as_cs NOT NULL,
          PRIMARY KEY (`NRIC`),
          UNIQUE KEY `NRIC_UNIQUE` (`NRIC`),
          UNIQUE KEY `email_UNIQUE` (`email`),
          UNIQUE KEY `name_UNIQUE` (`name`),
          UNIQUE KEY `phoneNum_UNIQUE` (`phoneNum`)
          ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_as_cs;"

          password123

          mysql -u root -p mindblank_db -e "INSERT INTO USER (
          NRIC, pass, name, email, phoneNum, address, type)
          VALUES ('doctor', 'pass002', 'name2', 'user2@email.com', '00000002', 'Street 2', 'DOCTOR');

          password123

      - name: Step 5 - set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven

      - name: Step 6 - build project with Maven
        run: mvn -B package --file pom.xml

      - name: Step 7 - test all of the test classes
        run: mvn test